{% extends "base.html" %}
{% load i18n %}
{% block title %}
	<img src="{{ STATIC_URL }}img/icon-user.png"> {% trans "User List" %}
{% endblock %}

{% block content %}
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
	  <tr>
	    <th>{% trans "Nom" %}</th>
	    <th></th>
	  </tr>
        </thead>
{% for object in object_list %}
        <tbody>
	  <tr>
            <td>{{ object.username }}</td>
            <td>
              <a href="/users/{{ object.id }}/del/"><img src="{{ STATIC_URL }}img/editdelete.png">
            </td>
            <td>
              <a href="/users/{{ object.id }}/"><img src="{{ STATIC_URL }}img/edit.png">
            </td>
          </tr>
{% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}


{% block action %}
<p>
<fieldset id='fieldset'><legend><img src='{{ STATIC_URL }}img/goto.png'>{% trans "Action" %}</legend>
<ul>
  <li><a href="/users/new/">{% trans "Add User" %}</a></li>
</ul>
</fieldset>
{% endblock %}
