{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
        <img src="{% static "img/bullet_red.png" %}"> {% trans "Add/Edit User" %}
{% endblock %}

{% block content %}
  {% if not object.id %}
    <form action="/users/new/" method="post">
  {% else %}
    <form action="/users/{{ object.id }}/" method="post">
  {% endif %}
{% csrf_token %}
{% bootstrap_form form %}
{% buttons %}
    <button type="submit" class="btn btn-primary">
        Submit
   </button>
{% endbuttons %}
</form>

{% endblock %}

{% block action %}
<p>
<fieldset id='fieldset'><legend><img src='{{ STATIC_URL }}img/goto.png'>{% trans "Action" %}</legend>
<ul>
  <li><a href="/user/password/">{% trans "Change User Password" %}</a></li>
</ul>
</fieldset>
{% endblock %}
