{% load i18n %}

{% extends "layout.html" %}

{% block auth %}
<fieldset id='fieldset' class='logon'><legend><img src='/img/connect_established.png'>&nbsp;{% trans "Authentication" %}</legend>
<form action='/logon/' method='GET'/>
<center>{{ user }}</center>

<input type='submit' class='inputbutton' value='Logout'>
</form>
</fieldset>
{% endblock %}

{% block _action %}
	{% block action %}{% endblock %}
{% endblock %}

{% block main %}
	<h1>{% block title %}{% endblock %}</h1>
	{% block content %}{% endblock %}
{% endblock %}


{% block menu %}
<ul>
<li><a href='/user/'>Users</a></li>

<li><a onclick="document.getElementById('pki_menu').style.display=''">PKI</a></li>
<ul id='pki_menu' style='display: {% block display_pki_menu %}{% endblock %}'>
<li><a href='/pki/profile/'> &raquo; Profils</a></li>
<li><a href='/pki/'> &raquo; Certificats</a></li>

</ul>
{% endblock %}
