{% load i18n %}
{% extends "base.html" %}

{% block title %}
	<img src="/img/winprops.png"> {% if form.desc %} {% trans "ACL add" %} {% else %} {% trans "ACL edit" %} {% endif %}
{% endblock %}

{% block content %}
<form method="post" action=".">
<table>
<tr><td class="input">{% trans "Description" %}</td><td>{{ form.name }}{% if form.name.errors %}<div class="error">{{ form.name.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "Authentication" %}</td><td>{{ form.auth }}{% if form.auth.errors %}<div class="error">{{ form.auth.errors|join:", " }}</div>{% endif %}</td></tr>
</table>

<table>
{% if user_ok or user_ko %}
<tr><td class="input">{{ form.user_ko }}</td><td align="center"><input type="submit" name="add_users" style="width: 20px;" value=">"><br><br><input type="submit" name="del_users" style="width: 20px;" value="<"></td><td class="input">{{ form.user_ok }}</td></tr>
{% endif %}
{% if group_ok or group_ko %}
<tr><td class="input">{{ form.group_ko }}</td><td align="center"><input type="submit" name="add_groups" style="width: 20px;" value=">"><br><br><input type="submit" name="del_groups" style="width: 20px;" value="<"></td><td class="input">{{ form.group_ok }}</td></tr>
{% endif %}
</table>

<div style="width: 75%; text-align: right"><input type="submit" name="send" style="width: 100px;"></div>
</form>
{% endblock %}

{% block action %}

{% endblock %}
