{% load i18n %}
{% extends "base.html" %}

{% block title %}
	<img src="/img/icon-user.png"> {% trans "Certificats" %}
{% endblock %}

{% block menu %}
<ul>
{% if administrator %}
<li><a href='/user/'>Users</a></li>
{% endif %}
<li><a onclick="document.getElementById('pki_menu').style.display=''">PKI</a></li>
<ul id='pki_menu' style='display: '>
{% if administrator %}
<li><a href='/pki/profile/'> &raquo; Profils</a></li>
{% endif %}
<li><a href='/pki/'> &raquo; Certificats</a></li>
</ul>
{% endblock %}


{% block display_auth_menu %}none{% endblock %}

{% block content %}
	<table class="list">
	<tr>
	<th>{% trans "Nom" %}</th>
	<th>{% trans "Email" %}</th>
	<th>{% trans "Profil" %}</th>
	<th>{% trans "Valid until" %}</th>
	<th style="width: 50px" colspan=4></th>
	</tr>
<center>{% if back %}<a href="/pki/{{ page_id_back }}/"><img src="/img/back.png"></a>{% endif %} {% if forward %}<a href="/pki/{{ page_id_forward }}/"><img src="/img/forward.png"></a>{% endif %}</center>
<br>
{% for object in object_list %}
	<tr><td>{{ object.cn }}</td><td>{{ object.mail }}</td><td>{{ object.profile }}</td><td>{% if object.revoked %}<strike>{% endif %}{{ object.valid_until_str }}{% if object.revoked %}</strike>{% endif %}</td><td>{% if object.revoked %}<a href="/pki/{{ object.id }}/revoke/"><img src="/img/reload.png"></a>{% endif %}{% if not object.revoked %}<a href="/pki/{{ object.id }}/revoke/"><img src="/img/stop.png">{% endif %}</a></td><td><a href="/pki/{{ object.id }}/edit/"><img src="/img/edit.png"></a></td><td><a href="/pki/{{ object.id }}/download/"><img src="/img/download.png"></a></td><td>{% if not object.revoked %}<a href="/pki/{{ object.id }}/send/"><img src="/img/mail.png"></a>{% endif %}</td></tr>
{% endfor %}
	</table>
<center>{% if back %}<a href="/pki/{{ page_id_back }}/"><img src="/img/back.png"></a>{% endif %} {% if forward %}<a href="/pki/{{ page_id_forward }}/"><img src="/img/forward.png"></a>{% endif %}</center>

{% endblock %}

{% block action %}
<fieldset id='fieldset'><legend><img src='/img/goto.png'>{% trans "Action" %}</legend>
<ul>
		<li><a href="/pki/new/">{% trans "Add" %}</a></li>
</ul>
</fieldset>
<br>
<fieldset id='fieldset'><legend><img src='/img/gnome-searchtool.png'>{% trans "Search" %}</legend>
<form method="POST" name='search'>
<i>Contient (nom, email)</i>
<input type="text" name="search" value="{% if search %}{{ search }}{% endif %}">
<table style='width: 100%'>
<br>
<br>
<div style='display: {% if not profile_choices %}none{% endif %}; margin: 0; padding: 0'>
<i>Profil</i>
<select name='profil' onchange='submit()' class='textinput' style='margin-top: 5px;'>
	<option value=''> -- </option>
{% for choice in profile_choices %}
	<option value='{{ choice.id }}' {% ifequal choice.id profil %}selected{% endifequal %}>{{ choice.name }}</option>
{% endfor %}
</select>
</div>
<br>

<i>Expire dans moins de</i>
<select name='expire' onchange='submit()' class='textinput' style='margin-top: 5px;'>
	<option value=''> -- </option>
	<option value='7'  {% ifequal expire 7  %}selected{% endifequal %}>1 semaine</option>
	<option value='14' {% ifequal expire 14 %}selected{% endifequal %}>2 semaines</option>
	<option value='30' {% ifequal expire 30 %}selected{% endifequal %}>1 mois</option>
	<option value='90' {% ifequal expire 90 %}selected{% endifequal %}>3 mois</option>
</select>
</table>
<br>
<div style='float: right'>
<input type='button' onclick="document.search.expire.value=''; document.search.search.value=''; document.search.profil.value=''; submit()" style='width: 40px;' value='Clear'>&nbsp;<input type='submit' style='width: 30px;' value='Go'>
</div>
</form>
</fieldset>
{% endblock %}
