{% load i18n %}
{% extends "base.html" %}

{% block title %}
	<img src="/img/icon-user.png"> {% trans "Create certificat" %}
{% endblock %}

{% block display_auth_menu %}none{% endblock %}

{% block content %}
<form method="post" action=".">
<table>
{% if object %}
<tr><td class="input">{% trans "PKCS12 password" %}</td><td>{{ form.pkcs12 }}{% if form.mail.errors %}<div class="error">{{ form.mail.errors|join:", " }}</div>{% endif %}</td></tr>
{% else %}
<tr><td class="input">{% trans "Profil" %}</td><td>{{ form.profile }}{% if form.profile.errors %}<div class="error">{{ form.profile.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "Nom" %}</td><td>{{ form.cn }}{% if form.cn.errors %}<div class="error">{{ form.cn.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "Email" %}</td><td>{{ form.mail }}{% if form.mail.errors %}<div class="error">{{ form.mail.errors|join:", " }}</div>{% endif %}</td></tr>
{% endif %}
</table>
<div style="width: 75%; text-align: right"><input type="submit" name="{% trans "Download PKCS12" %}" style="width: 100px;"/><input type="submit" style="width: 100px;"/></div>
</form>
{% endblock %}

{% block action %}

{% endblock %}

