{% load i18n %}
{% extends "base.html" %}

{% block title %}
	<img src="/img/proxy.png"> {% if form.desc %} {% trans "Interface add" %} {% else %} {% trans "Interface edit" %} {% endif %}
{% endblock %}

{% block display_auth_menu %}none{% endblock %}
{% block display_pki_menu %}none{% endblock %}

{% block content %}
<form method="post" action="." name="intf">
<table>
<tr><td class="input">{% trans "Description" %}</td><td>{{ form.desc }}{% if form.desc.errors %}<div class="error">{{ form.desc.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "IP" %}</td><td>{{ form.ip }}{% if form.ip.errors %}<div class="error">{{ form.ip.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "Port" %}</td><td>{{ form.port }}{% if form.port.errors %}<div class="error">{{ form.port.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "Log" %}</td><td>{{ form.log }}{% if form.log.errors %}<div class="error">{{ form.log.errors|join:", " }}</div>{% endif %}</td></tr>
</table>
<div id="proxy" style="display: {% if not object.sso_portal %}none{% endif %}">
<table>
<tr><td class="input">{% trans "SSO portal" %}</td><td>{{ form.sso_portal }}{% if form.sso_portal %}<div class="error">{{ form.sso_portal.errors|join:", " }}</div>{% endif %}</td></tr>
</table>
</div>
<div id="ssl" style="display: {% if not object.cert %}none{% endif %}">
<table>
<table>
<tr><td class="input">{% trans "SSL engine" %}</td><td>{{ form.ssl_engine }}{% if form.ssl_engine.errors %}<div class="error">{{ form.ssl_engine.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "PEM certificat" %}</td><td>{{ form.cert }}{% if form.cert.errors %}<div class="error">{{ form.cert.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "PEM key" %}</td><td>{{ form.key }}{% if form.key.errors %}<div class="error">{{ form.key.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "PEM certification chain" %}</td><td>{{ form.ca }}{% if form.ca.errors %}<div class="error">{{ form.ca.errors|join:", " }}</div>{% endif %}</td></tr>
</table>
</div>
<div style="width: 75%; text-align: right"><input type="submit" style="width: 100px;"/></div>
</form>
{% endblock %}

{% block action %}
<fieldset id='fieldset'><legend><img src='/img/goto.png'>{% trans "Action" %}</legend>
<ul>
	<div id='enable_proxy' style='display: {% if object.sso_portal %}none{% endif %}'>
		<li><a onclick="document.getElementById('proxy').style.display=''; document.getElementById('enable_proxy').style.display='none'; document.getElementById('disable_proxy').style.display=''"> Enable SSO portal</a></li>
	</div>
	<div id='disable_proxy' style='display: {% if not object.sso_portal %}none{% endif %}'>
		<li><a onclick="document.getElementById('proxy').style.display='none'; document.getElementById('disable_proxy').style.display='none'; document.getElementById('enable_proxy').style.display=''; document.intf.sso_portal.value=''"> Disable SSO portal<br></a>
	</div>
	<div id='enable_ssl' style='display: {% if object.cert %}none{% endif %}'>
		<li><a onclick="document.getElementById('ssl').style.display=''; document.getElementById('enable_ssl').style.display='none'; document.getElementById('disable_ssl').style.display=''"> Enable SSL</a></li>
	</div>
	<div id='disable_ssl' style='display: {% if not object.cert %}none{% endif %}'>
		<li><a onclick="document.getElementById('ssl').style.display='none'; document.getElementById('disable_ssl').style.display='none'; document.getElementById('enable_ssl').style.display=''; document.intf.cert.value=''"> Disable SSL<br></a>
	</div>
</ul>
</fieldset>
{% endblock %}

