{% load i18n %}
{% extends "base.html" %}

{% block title %}
	<img src="/img/unused-security-keys.png"> {% trans "LDAP directory authentication" %}
{% endblock %}

{% block content %}
<form method="post" action="." name="add_ldap">
<input type='hidden' value='0' name="expand_userparam">
<input type='hidden' value='0' name="expand_groupparam">
<table style='margin: 0; padding: 0'>
<tr><td class="input">{% trans "Name" %}</td><td>{{ form.name }}{% if form.name.errors %}<div class="error">{{ form.name.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "Host" %}</td><td>{{ form.host }}{% if form.host.errors %}<div class="error">{{ form.host.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "Port" %}</td><td>{{ form.port }}{% if form.port.errors %}<div class="error">{{ form.port.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "Protocol" %}</td><td>{{ form.protocol }}{% if form.protocol.errors %}<div class="error">{{ form.protocol.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "Encryption scheme" %}</td><td>{{ form.scheme }}{% if form.scheme.errors %}<div class="error">{{ form.scheme.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "Connection DN" %}</td><td>{{ form.dn }}{% if form.dn.errors %}<div class="error">{{ form.dn.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "Connection DN associated password" %}</td><td>{{ form.password }}{% if form.password.errors %}<div class="error">{{ form.password.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "Searching suffix in LDAP directory" %}</td><td>{{ form.base_dn }}{% if form.base_dn.errors %}<div class="error">{{ form.base_dn.errors|join:", " }}</div>{% endif %}</td></tr>
</table>
<script>
function toggleuseradvparam () {
	if (document.add_ldap.expand_userparam.value == '0') {
		document.add_ldap.expand_userparam.value = '1';
		document.getElementById('advuserparam').style.display = '';
		document.advuserimg.src = '/img/minus.png';
	}
	else {
		document.add_ldap.expand_userparam.value = '0';
		document.getElementById('advuserparam').style.display = 'none';
		document.advuserimg.src = '/img/plus.png';
	}
}
</script>
<table style='margin: 0; padding: 0'>
<tr><td class="input"><a href='#' onclick='javascript:toggleuseradvparam();'><img name='advuserimg' src='/img/plus.png'></a>&nbsp;{% trans "User attribute" %}</td><td>{{ form.user_attr }}{% if form.user_attr.errors %}<div class="error">{{ form.user_attr.errors|join:", " }}</div>{% endif %}</td></tr>
</table>
<div id="advuserparam" style="display: none">
<table style='margin: 0; padding: 0'>
<tr><td class="input"><img style='margin-top: 0; margin-bottom: 10px' src='/img/sub.png'> {% trans "LDAP filter for users" %}</td><td>{{ form.user_filter }}{% if form.user_filter.errors %}<div class="error">{{ form.user_filter.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input"><img style='margin-top: 0; margin-bottom: 10px' src='/img/sub.png'> {% trans "Searching scope for users" %}</td><td>{{ form.user_scope }}{% if form.user_scope.errors %}<div class="error">{{ form.user_scope.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input"><img style='margin-top: 0; margin-bottom: 10px' src='/img/sub.png'> {% trans "Url attribut" %}</td><td>{{ form.url_attr }}{% if form.url_attr.errors %}<div class="error">{{ form.url_attr.errors|join:", " }}</div>{% endif %}</td></tr>
</table>
</div>

<script>
function togglegroupadvparam () {
	if (document.add_ldap.expand_groupparam.value == '0') {
		document.add_ldap.expand_groupparam.value = '1';
		document.getElementById('advgroupparam').style.display = '';
		document.advgroupimg.src = '/img/minus.png';
	}
	else {
		document.add_ldap.expand_groupparam.value = '0';
		document.getElementById('advgroupparam').style.display = 'none';
		document.advgroupimg.src = '/img/plus.png';
	}
}
</script>
<table style='margin: 0; padding: 0'>
<tr><td class="input"><a href='#' onclick='javascript:togglegroupadvparam();'><img name='advgroupimg' src='/img/plus.png'></a>&nbsp;{% trans "Group attribute" %}</td><td>{{ form.group_attr }}{% if form.group_attr.errors %}<div class="error">{{ form.group_attr.errors|join:", " }}</div>{% endif %}</td></tr>
</table>
<div id="advgroupparam" style="display: none">
<table style='margin: 0; padding: 0'>
<tr><td class="input"><img style='margin-top: 0; margin-bottom: 10px' src='/img/sub.png'> {% trans "LDAP filter for groups" %}</td><td>{{ form.group_filter }}{% if form.group_filter.errors %}<div class="error">{{ form.group_filter.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input"><img style='margin-top: 0; margin-bottom: 10px' src='/img/sub.png'> {% trans "Searching scope for groups" %}</td><td>{{ form.group_scope }}{% if form.group_scope.errors %}<div class="error">{{ form.group_scope.errors|join:", " }}</div>{% endif %}</td></tr>
</table>
</div>

<table style='margin: 0; padding: 0'>
<tr><td class="input">{% trans "Searching attribute in groups" %}</td><td>{{ form.group_member }}{% if form.group_member.errors %}<div class="error">{{ form.group_member.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "Searching attribute is a DN" %}</td><td>{{ form.are_members_dn }}{% if form.are_members_dn.errors %}<div class="error">{{ form.are_members_dn.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "Display portal" %}</td><td>{{ form.display_portal }}{% if form.display_portal.errors %}<div class="error">{{ form.display_portal.errors|join:", " }}</div>{% endif %}</td></tr>
</table>
<div style="width: 75%; text-align: right"><input type="submit" style="width: 100px;"/></div>
</form>
{% endblock %}

{% block action %}

{% endblock %}

