{% load i18n %}
{% extends "base.html" %}

{% block title %}
	<img src="/img/unused-security-keys.png"> {% trans "Radius authentication" %}
{% endblock %}

{% block content %}
	<table class="list">
	<tr>
	<th>{% trans "Description" %}</th>
	<th>{% trans "LDAP server" %}</th>
	<th colspan=2 style="width: 40px"></th>
	</tr>
{% for object in object_list %}
	<tr><td>{{ object.name }}</td><td>{{ object.host }}:{{ object.port }}</td><td><a href="/sql/{{ object.id }}/del/"><img src="/img/editdelete.png"></td><td><a href="/sql/{{ object.id }}"><img src="/img/edit.png"></a></tr>
{% endfor %}
	</td>
	</table>
{% endblock %}

{% block action %}
<fieldset id='fieldset'><legend><img src='/img/goto.png'>{% trans "Action" %}</legend>
<ul>
		<li><a href="/ldap/new/">{% trans "Add" %}</a></li>
</ul>
</fieldset>
{% endblock %}
