{% load i18n %}
{% extends "base.html" %}

{% block title %}
	<img src="/img/unused-security-keys.png"> {% trans "SQL database authentication" %}
{% endblock %}

{% block content %}

<script type="text/javascript">
function dbchange() {
if (document.sql.driver.value == 'Pg')
	document.getElementById('pg').style.display='';
else
	document.getElementById('pg').style.display='none';
}
</script>
<form method="post" action="." name="sql">
<table style="padding: 0">
<tr><td class="input">{% trans "Description" %}</td><td>{{ form.name }}{% if form.name.errors %}<div class="error">{{ form.name.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "Type" %}</td><td>{{ form.driver }}{% if form.driver.errors %}<div class="error">{{ form.driver.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "Database" %}</td><td>{{ form.database }}{% if form.database.errors %}<div class="error">{{ form.database.errors|join:", " }}</div>{% endif %}</td></tr>
</table>
<div id="pg" style="display: {% if not sql %}none{% endif %}{% ifequal sql.driver 'SQLite' %}none{% endifequal %}">
<table style="padding: 0">
<tr><td class="input">{% trans "User" %}</td><td>{{ form.user }}{% if form.user.errors %}<div class="error">{{ form.user.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "Password" %}</td><td>{{ form.password }}{% if form.password.errors %}<div class="error">{{ form.password.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "Host" %}</td><td>{{ form.host }}{% if form.host.errors %}<div class="error">{{ form.host.errors|join:", " }}</div>{% endif %}</td></tr>
</table>
</div>
<table>
<tr><td class="input">{% trans "SQL table name" %}</td><td>{{ form.table }}{% if form.table.errors %}<div class="error">{{ form.table.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "User column" %}</td><td>{{ form.user_column }}{% if form.user_column.errors %}<div class="error">{{ form.user_column.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "Password column" %}</td><td>{{ form.pass_column }}{% if form.pass_column.errors %}<div class="error">{{ form.pass_column.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "Password algorithm" %}</td><td>{{ form.pass_algo }}{% if form.pass_algo.errors %}<div class="error">{{ form.pass_algo.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "Url field" %} ({% trans "optional" %})</td><td>{{ form.url_field }}{% if form.url_field.errors %}<div class="error">{{ form.url_field.errors|join:", " }}</div>{% endif %}</td></tr>
<tr><td class="input">{% trans "Display portal" %} ({% trans "optional" %})</td><td>{{ form.display_portal }}{% if form.display_portal.errors %}<div class="error">{{ form.display_portal.errors|join:", " }}</div>{% endif %}</td></tr>
</table>
<div style="width: 75%; text-align: right"><input type="submit" style="width: 100px;"/></div>
</form>


{% endblock %}

{% block action %}

{% endblock %}

